.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}



h1{
  font-family: 'Rajdhani', sans-serif;
  
  
}

h2{
  font-family: 'Rajdhani', sans-serif;
  color:#048;
}

h5{
  font-size:1.1rem;
  border:2px solid black;
  display: flex;
  width:500px;
  text-align: justify;
  padding: 20px;
  margin-left:20px;
  line-height: 1.8rem;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.card{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 50px;
  /* margin: auto; */
  margin-left:25px;
  margin-top:40px;
  margin-bottom:40px;
  width:40%;
}

.loginForm{
  display: flex;
  justify-content: center;
  background:#556;
  /* color:white; */
  z-index:-3;
  color:#2ec;
 
  
}

.signUpForm{
  display: flex;
  justify-content: center;
  background:#556;
  color:#2ec;

}

.createContainer{
  display: flex;
  justify-content: center;
}

input{
  color:#048;
}